@{
    ViewData["Title"] = "Welcome";
}

<div class="row">

    <h1>Welcome</h1>

</div>

<div class="row">

    <p>
        Welcome to the NeoPixel Server.<br />
        You can control the NeoPixel animations here.
    </p>

</div>
