@model NeoPixelServer.ViewModels.CurveEffectViewModel


<form asp-controller="Pixel" asp-action="UpdateCurveEffect" method="post">
    <fieldset>
        <div class="form-group">
            <input type="hidden" asp-for="Id" value="@Model.Id" />
        </div>
        <legend>@Model.Name</legend>

        <div class="form-group">
            <span class="badge badge-pill badge-secondary">Curve Effect</span>
            @if (Model.IsEnabled)
            {
                <span class="badge badge-success">Enabled</span>
            }
            else
            {
                <span class="badge badge-danger">Disabled</span>
            }

        </div>

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" asp-for="IsEnabled" type="checkbox" aria-describedby="IsEnabledHelp">
                <label class="form-check-label" asp-for="IsEnabled">Enable</label>
                <small id="IsEnabledHelp" class="form-text text-muted">Enable/Disable the effect.</small>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Name">Change Name</label>
            <input class="form-control" asp-for="Name" aria-describedby="NameHelp">
            <small id="NameHelp" class="form-text text-muted">Name of the effect.</small>
        </div>

        <div class="form-group">
            <label asp-for="PixelStartPosition">Area Start Position</label>
            <input class="form-control" asp-for="PixelStartPosition" aria-describedby="PixelStartPositionHelp">
            <small id="PixelStartPositionHelp" class="form-text text-muted">How far in the effect should start.</small>
        </div>
        <div class="form-group">
            <label asp-for="NumberOfPixels">Area Length Position</label>
            <input class="form-control" asp-for="NumberOfPixels" aria-describedby="NumberOfPixelsHelp">
            <small id="NumberOfPixelsHelp" class="form-text text-muted">How long the effect area should be.</small>
        </div>
        <div class="form-group">
            <label asp-for="EffectLength">Effect Length</label>
            <input class="form-control" asp-for="EffectLength" aria-describedby="EffectLengthHelp">
            <small id="EffectLengthHelp" class="form-text text-muted">How long the effect itself should be.</small>
        </div>
        <div class="form-group">
            <label asp-for="EffectSpeed">Effect Speed</label>
            <input class="form-control" asp-for="EffectSpeed" aria-describedby="EffectSpeedHelp">
            <small id="EffectSpeedHelp" class="form-text text-muted">How fast the effect is.</small>
        </div>
        <button type="submit" class="btn btn-primary">Apply</button>
        <button type="reset" class="btn btn-outline-danger float-right" disabled>Delete</button>
    </fieldset>
</form>
