@model NeoPixelServer.ViewModels.CurveEffectViewModel


<fieldset>
    <div class="form-group">
        <span class="badge badge-pill badge-secondary">Curve Effect</span>
    </div>
    @foreach (var property in Model.Properties)
    {
          @await Html.PartialAsync("Effects/EditableProperty", property)
    }
</fieldset>

