@model NeoPixelServer.ViewModels.ScrollImageEffectViewModel


<fieldset>

    <div class="form-group">
        <span class="badge badge-pill badge-secondary">Scroll Image Effect</span>
    </div>
    @foreach (var property in Model.Properties)
    {
        @await Html.PartialAsync("Effects/EditableProperty", property)
    }
</fieldset>


