@model NeoPixelServer.ViewModels.PixelViewModel


<h2>Pixel controller</h2>
<div class="row">
    @{

        foreach (var effect in Model.BaseViewModels)
        {
            if (effect is NeoPixelServer.ViewModels.CurveEffectViewModel curveEffect)
            {
                <div class="col-sm">
                    <div class="card text-white  mb-3" style="min-width: 20rem; max-width: 30rem;">
                        <div class="card-body">
                            @await Html.PartialAsync("Effects/CurveEffectView", curveEffect)
                        </div>
                    </div>
                </div>
            }
        }
    }
</div>
