<h2>Pixel controller</h2>

<a asp-area="" asp-controller="Pixel" asp-action="Curve">Curve</a>
<a asp-area="" asp-controller="Pixel" asp-action="SetColor">SetColor</a>
<a asp-area="" asp-controller="Pixel" asp-action="Pulse">Pulse</a>

