@model NeoPixelServer.ViewModels.PixelViewModel


<h2>Pixel controller</h2>
<div class="row">
    @{

        foreach (var effect in Model.BaseViewModels)
        {
            <div class="col-sm">
                <div class="card text-white mb-3" style="min-width: 20rem; max-width: 30rem;">
                    <div class="card-body">
                        @if (effect is NeoPixelServer.ViewModels.CurveEffectViewModel curveEffect)
                        {
                            @await Html.PartialAsync("Effects/CurveEffectView", curveEffect)
                        }
                        else if (effect is NeoPixelServer.ViewModels.ScrollImageEffectViewModel scrollImageEffect)
                        {
                            @await Html.PartialAsync("Effects/ScrollImageEffectView", scrollImageEffect)
                        }
                        else if (effect is NeoPixelServer.ViewModels.ColorWheelEffectViewModel colorWheelEffect)
                        {
                            @await Html.PartialAsync("Effects/ColorWheelEffectView", colorWheelEffect)
                        }
                        else if(effect is NeoPixelServer.ViewModels.Rainbow2DEffectViewModel rainbow2dEffect)
                        {
                            @await Html.PartialAsync("Effects/Rainbow2DEffectView", rainbow2dEffect)
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>
